* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body {
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fffdf9;
    line-height: 1.5;
}
h2,
h3 {
    font-family: 'Story Script', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #5b3c2a;
}
header {
    font-family: 'Story Script', cursive;
    background-color: #5b3c2a;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.logo {
    font-size: 1.7rem;
    text-decoration: none;
    color: #fff;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover {
    color: #c78b50;
}
.menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    background: none;
    border: none;
}
.home {
    background: url("./../images/coffee-logo.jpg") center/cover no-repeat;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-content h1 {
    font-family: 'Story Script', cursive;
    color: #5b3c2a;
    font-size: 3rem;
    margin-bottom: 15px;
}
.home-content span {
    color: #f5d8b3;
}
.home-content p {
    color: #f5d8b3;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.btn,
.btn-outline,
.btn-small {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: all 0.3s ease;
    color: #5b3c2a;
    background-color: #f5d8b3;
}
.btn {
    padding: 12px;
}
.btn:hover {
    background-color: #c78b50;
    color: #fff;
}
.btn-outline {
    background-color: transparent;
    border: 2px solid #f5d8b3;
}
.btn-outline:hover {
    background-color: #f5d8b3;
}
.btn-small {
    margin: 10px;
}
.btn-small:hover {
    background-color: #c78b50;
    color: #fff;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 70px;
    background-color: #f9f6f1;
    flex-wrap: wrap;
}
.about-image img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
}
.about-text {
    max-width: 500px;
}
.about-text p {
    color: #444;
    margin-bottom: 15px;
}
.about-icon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.about-icon div {
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 1rem;
    color: #5b3c2a;
}
.about-icon i {
    display: block;
    font-size: 1.8rem;
    margin: 0 auto 5px;
    color: #5b3c2a;
}
.about-icon i:hover {
    color: #c78b50;
}
.menu {
    padding: 40px;
    text-align: center;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.menu-items .item {
    flex: 1 1 300px;
    max-width: 250px;
    background: #fff;
    border-radius: 10px;
    transition: all 0.3s ease;
    text-align: center;
    padding: 10px;
}
.menu-items .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.menu-items .item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.menu-items .item h3 {
    font-family: 'Story Script', cursive;
    margin: 10px;
    color: #5b3c2a;
    font-size: 1.3rem;
}
.menu-items .item p {
    color: #c78b50;
    font-weight: bold;
}
.gallery {
    padding: 40px;
    background-color: #f9f6f1;
    text-align: center;
}
.gallery-items,
.reviews-container,
.contact-visitor {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    max-width: 250px;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.05);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery-item:hover .overlay {
    opacity: 1;
}
.reviews-container,
.contact-visitor {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 30px;
}
.review {
    text-align: center;
    background-color: #fffdf9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    max-width: 350px;
}
.review p {
    font-style: italic;
}
.contact {
    background-color: #f9f6f1;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact form , .map{
    flex: 1 1 300px;
}
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.contact button {
    background-color: #5b3c2a;
    color: #fffdf9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact button:hover {
    background-color: #c78b50;
}
.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
footer {
    background-color: #5b3c2a;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.footer-social a {
    color: #fff;
    margin: 0 8px;
    font-size: 18px;
    transition: color 0.3s;
}
.footer-social a:hover{
    color: #c78b50;
}



