*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    padding-top: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fffdf9;
    line-height: 1.5;
}
h2,h3{
    font-family: 'Story Script', cursive;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #5b3c2a;
}
header{
    font-family: 'Story Script', cursive;
    background-color: #5b3c2a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo{
    font-size: 1.7rem;
}
.nav-links, .nav-links a{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover{
    color:#c78b50;
}
.menu-toggle{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
}
.home{
    background: url("./../images/coffee-logo.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-content h1{
    font-family: 'Story Script', cursive;
    color: #5b3c2a;
    font-size: 3rem;
    margin-bottom: 15px;
}
.home-content span{
    font-family: 'Story Script', cursive;
    color: #f5d8b3;
}
.home-content p {
    color: #f5d8b3;
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.btn, .btn-outline, .btn-small{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: #5b3c2a;
    background-color: #f5d8b3;
}
.btn{
    padding: 12px;
}
.btn:hover{
    background-color:#c78b50;
}
.btn-outline{
    background-color: transparent;
    border: 2px solid #f5d8b3;
}
.btn-outline:hover{
    background-color: #f5d8b3;
}
.btn-small{
    font-size: 1rem;
    padding: 12px;
    margin: 10px;
    text-align: center;
}
.btn-small:hover{
    background-color:#c78b50;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 70px;
    background-color: #f9f6f1;
    flex-wrap: wrap;
}
.about-image{
    flex: 1;
    display: flex;
    justify-content: center;
}
.about-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}
.about-text{
    flex: 1;
}
.about-text p{
    font-size: 1rem;
    color: #444;
    line-height: 1.5;
    margin-bottom: 15px;
}
.about-icon{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.about-icon div{
    flex: 1;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
    text-align: center;
    font-size: 1rem;
    color: #5b3c2a;
}
.about-icon i {
    display: block;
    font-size: 1.9rem;
    margin:0 auto 5px;
    color: #5b3c2a;
    text-align: center;
}
.about-icon i:hover{
    color: #c78b50;
    transition: 0.3 ease;
}
.menu{
    padding: 40px;
    text-align: center;
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.menu-items .item{
    flex: 1 1 300px;
    max-width: 250px;
    background: #fff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    padding: 10px;
}
.menu-items .item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.menu-items .item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.menu-items .item h3{
    font-family: 'Story Script', cursive;
    margin: 15px;
    color: #5b3c2a;
    font-size: 1.3rem;
}
.menu-items .item p{
    color: #c78b50;
    font-weight: bold;
}
.gallery{
    padding: 40px;
    background-color: #f9f6f1;
    text-align: center;
}
.gallery-items,.reviews-container,.contact-visitor{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.gallery-item{
    position: relative;
    overflow: hidden;
    flex: 1 1 200px;
    border-radius: 15px;
    max-width: 250px;
}
.gallery-item img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
}
.gallery-item img:hover{
    transform: scale(1.05);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.gallery-item:hover .overlay{
    opacity: 1;
}
.reviews-container,.contact-visitor{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.review{
    text-align: center;
    font-size: 20px;
    background-color: #fffdf9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    max-width: 350px;
}
.review p{
    font-style: italic;
    margin-bottom: 15px;
}
.contact{
    background-color: #f9f6f1;
    padding: 40px;
    margin: 10px;
}
.contact form {
    flex: 1 1 300px;
}
.contact form input, .contact form textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}
.contact form button{
    background-color: #5b3c2a;
    color: #fffdf9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact form button:hover{
    background-color: #c78b50;
}
.map{
    flex: 1 1 300px;
}
.map iframe{
    width: 80%;
    height: 80%;
    border-radius: 5px;
}
footer{
    background-color: #5b3c2a;
    color: #fff;
    text-align: center;
    padding: 18px;
    font-size: 1rem;
}
.footer-social a{
    color: #fff;
    margin: 0 8px;
    font-size: 18px;
    transition: color .3s;
}
.footer-social a:hover{
    color: #c78b50;
}



