@media (max-width: 768px) {
  .home-content h1{
    font-size: 2rem;
    text-align: center;
}
.about {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 30px 20px;
  }
.about-image img {
    width: 100%;
  }
  .about-text{
    width: 100%;
  }
.contact-visitor, .reviews-container {
    flex-direction: column;
    align-items: center;
  }
.menu-toggle {
    display: block;
  }
.nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #5b3c2a;
    gap: 15px;
    text-align: center;
    padding: 10px 0;
    overflow: hidden;
  }
.nav-links.open {
    display: block;
  }
.nav-links a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    }
    .nav-links li a {
    display: block;          
    text-decoration: none;   
    color: #fff;             
 }
 .map iframe{
    width: 100%;
    height: 300px;
    border: 0;
}
.items{
  flex-direction: column;
  gap: 15px;
}
.btn, .btn-small, .btn-outline{
  font-size: 1rem;
}
footer{
  text-align: center;
  padding: 20px;
}
}